<!DOCTYPE html>
<html>
    <head>
        <title>weather app</title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{titleMessage}}</p>
        </div>
        {{>footer}}

        {{!-- <script src="./js/app.js"></script> --}}
    </body>
</html>