<!DOCTYPE html>
<html>
    <head>
        <title>weather app</title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{titleMessage}}</p>
        <p>This site was created by Wally the web dev as part of a node JS course. <br>
        The aplication uses dark skies and map box API to pull JSON data and return it to<br>
        the UI for the user to see</p>
        </div>
        {{>footer}}

        {{!-- <script src="./js/app.js"></script> --}}
    </body>
</html>